<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Loda To-do</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />

  <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body>
<h1>To-do</h1>

<form th:action="@{/addTodo}" th:object="${todo}" method="post">
  <p th:if="${#fields.hasAnyErrors()}" class="error">Có lỗi gì đó xảy ra , vui lòng kiểm tra lại luôn </p>

  <p>Tên việc làm : <input type="text" th:field="*{title}" /></p>
  <div>
    <ul><li th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error" /></ul>
  </div>

  <p>Chi tiết : <input type="text" th:field="*{detail}" /></p>
  <div>
    <ul><li th:each="err : ${#fields.errors('detail')}" th:text="${err}" class="error" /></ul>
  </div>

  <p><button type="submit" class="btn btn-success">Add</button></p>
  <a th:href="@{/addTodo}" class="error"> Reset</a>
</form>

<style>
  .error {
    color: red;
  }
</style>

</body>

</html>