<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Loda To-do</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
<h1>Trạng thái thêm khai bút</h1>
<h2>Thêm khai bút thành công !</h2>

<a th:href="@{/listTodo}" class="btn btn-primary">Xem danh sách khai bút</a>
<a th:href="@{/}" class="btn btn-success"> Quay về trang chủ</a>

</body>

</html>